<p id="notice"><%= notice %></p>

<h1>Teams</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Is parent</th>
      <th>Active</th>
      <th>Parent team</th>
      <th>Manager</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <td><%= team.description %></td>
        <td><%= team.is_parent %></td>
        <td><%= team.active %></td>
        <td><%= team.parent_team_id %></td>
        <td><%= team.manager_id %></td>
        <td><%= link_to 'Go To Team', team_users_path(team) %></td>
        <td><%= link_to 'Edit', edit_team_path(team) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Home', root_path %>
<%= link_to 'New Team', new_team_path %>
