<div class="welcomeBody container-fluid">
  <div class="row">
    <div class="col-xs-3 col-sm-3 col-md-3 d-flex align-items-center justify-content-start">
      <% unless @team.parent_team_id.nil? %>
        <% @parent_team = Team.find(@team.parent_team_id) %>
        <%= link_to team_path(@parent_team), :class => "float-left btn btn-secondary" do %>
        Back to <%= @parent_team.name %>
        <% end %>
      <% end %>
    </div>
    <div class="mainContent col-xs-6 col-sm-6 col-md-6">
      <h1 class="tag name"><%= @team.name %> Organization</h1>
      <p class="tag location"><%= @team.description %></p>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 d-flex align-items-center justify-content-end">
      <% if @has_manager_permission %>
        <%= link_to new_team_path(parent_team_id: @team), :class => "float-right btn btn-primary mr-1" do %>
        New <%= @team.name %> Subteam
        <% end %>
        <%= link_to edit_team_path(@team), :class => "float-right btn btn-secondary" do %>
        Edit <%= @team.name %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<p class="text-success text-center" id="notice"><%= notice %></p>
<div class=containter-fluid>
  <div class="row">
    <div class="col-12 d-flex align-items-center">
      <%= link_to team_users_path(@team), :class => "mx-auto btn btn-primary btn-lg" do %>
      View <%= @team.name %> Details
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-12 d-flex justify-content-center mt-2">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#teamModal">
        View Managers
      </button>
      <div class="modal fade" id="teamModal" tabindex="-1" role="dialog" aria-labelledby="teamModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="teamModalLabel"><%= @team.name %> Managers</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <% @team_managers.each do |user| %>
              <div class="card mx-auto mt-2 border-clear" style="max-width 10rem;">
                <div class="card-body no-deco px-0 py-0">
                  <%= link_to team_user_path(@team, user) do %>
                  <div class="row">
                    <div class="col-12">
                      <%= image_tag("avatar", class: "img-fluid rounded-circle", style: "max-height: 50px; width: auto;") %>
                    </div>
                  </div>
                  <div class="row no-deco">
                    <div class="col-12 text-center text-dark">
                      <small><%= user.first_name + " " + user.last_name %></small>
                    </div>
                  </div>
                  <% end %>
                </div>
              </div>
              <% end %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="col-12 text-center">
    <h2 class="display-4 mt-2"><%= @team.name %> Subteams:</h2>
  </div>
  <div class="row">
    <% variable = "a" %>
    <% @subteams.each do |team| %>
    <% modal_target = "#" + variable + "Modal" %>
    <% modal_recipient = variable + "Modal" %>
    <% modal_label = variable + "ModalLabel" %>
    <% subteam_managers = User.all.where(active: true).where(team_id: team.id).where(is_manager: true) %>
      <div class="card mx-auto mt-3 mb-3" style="max-width: 30rem; min-width: 20rem;">
        <%= link_to team_path(team) do %>
        <div class="card-header text-center text-dark">
          <h3><%= team.name %></h3>
        </div>
        <% end %>
        <div class="card-body">
          <div class="row">
            <div class="col-12 d-flex align-items-center">
              <%= link_to team_path(team), :class => "mx-auto btn btn-outline-primary btn-lg" do %>
              View <%= team.name %>
              <% end %>
            </div>
          </div>
          <% unless subteam_managers.empty? %>
          <div class="row">
            <div class="col-12 d-flex justify-content-center mt-2">
              <%= button_tag "View Managers", :class => "btn btn-outline-primary", data: {toggle: "modal", target: modal_target} %>
              <%= content_tag :div, class: "modal fade", id: modal_recipient, tabindex: "-1", role: "dialog", 'aria-labelledby': modal_label, 'aria-hidden': "true"  do %>
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <%= content_tag :h5, class: "modal-title", id: modal_label do %>
                        <%= team.name %> Managers
                      <% end %>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <% subteam_managers.each do |user| %>
                      <div class="card mx-auto mt-2 border-clear" style="max-width 10rem;">
                        <div class="card-body no-deco px-0 py-0">
                          <%= link_to team_user_path(team, user) do %>
                          <div class="row">
                            <div class="col-12">
                              <%= image_tag("avatar", class: "img-fluid rounded-circle", style: "max-height: 50px; width: auto;") %>
                            </div>
                          </div>
                          <div class="row no-deco">
                            <div class="col-12 text-center text-dark">
                              <small><%= user.first_name + " " + user.last_name %></small>
                            </div>
                          </div>
                          <% end %>
                        </div>
                      </div>
                      <% end %>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
      <% variable += "a" %>
    <% end %>
  </div>
</div>
