<div class="container-fluid">
  <div class="card border-dark mb-3 mx-auto">
    <div class="card-header text-center">
      <h3>New <%= @header %> Badge!</h3>
    </div>
    <%= form_with(model: [@team, @user, @user_badge], local: true) do |form| %>
      <% if user_badge.errors.any? %>
      <br>
      <div class="row">
        <div class="card text-white bg-danger mx-auto mb-3">
          <div class="card-header" id="error_explanation">
            <h4><%= pluralize(user_badge.errors.count, "error") %> prohibited this user_badge from being saved:</h4>
          </div>
          <div class="card-body">
            <ul>
            <% user_badge.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        </div>
      </div>
      <% end %>
      <br>
      <div class="row">
        <div class="mx-auto">
          <%= image_tag("img_solveforthecustomer", class: "img-fluid rounded-circle", style: "max-height: 100px; width: auto;") %>
          <div class="form-check float-right">
            <%= form.radio_button :badge, 1, class: "form-check-label" %>
          </div>
        </div>
        <div class="mx-auto">
          <%= image_tag("img-this-is-your-baby", class: "img-fluid rounded-circle", style: "max-height: 100px; width: auto;") %>
          <div class="form-check float-right">
            <%= form.radio_button :badge, 2, class: "float-right form-check-label" %>
          </div>
        </div>
        <div class="mx-auto">
          <%= image_tag("img_everyminutecounts", class: "img-fluid rounded-circle", style: "max-height: 100px; width: auto;") %>
          <div class="form-check float-right">
            <%= form.radio_button :badge, 3 , class: "form-check-label" %>
          </div>
        </div>
        <div class="mx-auto">
          <%= image_tag("img-of-course-but-maybe", class: "img-fluid rounded-circle", style: "max-height: 100px; width: auto;") %>
          <div class="form-check float-right">
            <%= form.radio_button :badge, 4, class: "form-check-label" %>
          </div>
        </div>
        <div class="mx-auto">
          <%= image_tag("img_gofartogether", class: "img-fluid rounded-circle", style: "max-height: 100px; width: auto;") %>
          <div class="form-check float-right">
            <%= form.radio_button :badge, 5, class: "form-check-label" %>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-8 offset-2">
          <div class="form-group">
            <%= form.text_area :description, class: "form-control", rows: "9", placeholder: "What is this badge for?" %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group mx-auto">
          <%= form.submit "Create Badge!", class: "btn btn-outline-primary" %>
          <%= link_to 'Back', team_user_path(@team, @user), class: "btn btn-outline-secondary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
