<%= form_with(model: [@team, @user], local: true) do |form| %>
  <div class="container-fluid">
    <div class="card border-dark mb-3 mx-auto">
      <div class="card-header">
        <div><%= @header %></div>
      </div>
      <div class="card-body">
        <% if user.errors.any? %>
        <div class="row">
          <div class="card text-white bg-danger mx-auto mb-3">
            <div class="card-header" id="error_explanation">
              <h4><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h4>
            </div>
            <div class="card-body">
              <ul>
              <% user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          </div>
          <% end %>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="form-group col-10">
              <%= form.label :first_name %>
              <%= form.text_field :first_name, class: "form-control" %>
            </div>
            <div class="form-group col-10">
              <%= form.label :last_name %>
              <%= form.text_field :last_name, class: "form-control" %>
            </div>
            <% if @has_manager_permission || (@has_manager_permission && @has_user_permission) %>
              <div class="form-group col-10">
                <%= form.label :title %>
                <%= form.text_field :title, class: "form-control" %>
              </div>
            <% end %>
            <% if @has_manager_permission || (@has_manager_permission && @has_user_permission) %>
            <div class="form-group col-8">
              <%= form.label :email %>
              <%= form.text_field :email, class: "form-control", placeholder: "name@example.com" %>
            </div>
            <% end %>
            <% if @has_manager_permission || (@has_manager_permission && @has_user_permission) %>
            <div class="form-group col-8">
              <%= form.label :slack %>
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">@</div>
                </div>
                <%= form.text_field :slack, class: "form-control", placeholder: "example.username" %>
              </div>
            </div>
            <% end %>
          </div>
          <div class="col-6">
            <% if @has_manager_permission || (@has_manager_permission && @has_user_permission) %>
            <% teams = [] %>
            <% managers = [] %>
            <% team = Team.find(@current_user.team_id) %>
            <% teams << team %>
            <% team_managers = User.where(active: true, is_manager: true, team_id: @current_user.team_id) %>
            <% team_managers.each do |manager| %>
              <% managers << manager %>
            <% end %>
            <% while !Team.where(active: true, parent_team_id: team.id).empty? %>
              <% child_teams = Team.where(active: true, parent_team_id: team.id) %>
              <% child_teams.each do |child| %>
                <% teams << child %>
                <% child_managers = User.where(active: true, is_manager: true, team_id: child.id) %>
                <% child_managers.each do |manager| %>
                  <% managers << manager %>
                  <% end %>
                <% team = child %>
              <% end %>
            <% end %>
            <div class="form-group col-10">
              <% if @user.team_id.nil? %>
              <% @user_team_id = params[:team_id] %>
              <% else %>
              <% @user_team_id = @user.team_id %>
              <% end %>
              <%= form.label :team_id %>
              <%= form.collection_select :team_id, teams, :id, :name, {:selected => @user_team_id }, {class: "form-control"} %>
            </div>
            <% end %>
            <div class="form-group col-11">
              <%= form.label :bio %>
              <%= form.text_area :bio, class: "form-control", rows: "9" %>
            </div>
            <div class="form-group col-11">
              <div class="row">
                <% if @has_manager_permission || (@has_manager_permission && @has_user_permission) %>
                <div class="form-group col-6">
                  <%= form.label :manager_id %>
                  <%= form.collection_select :manager_id, managers, :id, :full_name, {prompt: "Select Manager"}, {class: "form-control"} %>
                </div>
                <div class="form-group col-6">
                  <%= form.label :started_at, 'Starting Date' %>
                  <%= form.date_field :started_at, class: "form-control" %>
                </div>
                <% end %>
              </div>
              <div class="row">
                <% if @has_manager_permission || (@has_manager_permission && @has_user_permission) %>
                  <div class="form-check col-6">
                    <%= form.label :is_manager, 'Team Manager?' %>
                    <%= form.check_box :is_manager, class: "form-check-label" %>
                  </div>
                <% end %>
                <div class="form-group col-6 justify-content-end">
                  <%= form.submit "Submit", class: "btn btn-outline-primary" %>
                  <%= link_to 'Back', team_users_path, class: "btn btn-outline-secondary" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
