<%= form_with(model: [@team, @user], local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :tier %>
    <%= form.number_field :tier %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :slack %>
    <%= form.text_field :slack %>
  </div>

  <div class="field">
    <%= form.label :bio %>
    <%= form.text_field :bio %>
  </div>

  <div class="field">
    <%= form.label :is_manager %>
    <%= form.check_box :is_manager %>
  </div>

  <div class="field">
    <%= form.label :manager_id %>
    <%= form.number_field :manager_id %>
  </div>

  <div class="field">
    <%= form.label :started_at %>
    <%= form.date_field :started_at %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
