<p id="notice"><%= notice %></p>

<h1>Team: <%= @team.name %></h1>
<div>
  <%= link_to 'Edit Team', edit_team_path(@team) %>
</div>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @team.description %>
</p>

<p>
  <strong>Is parent:</strong>
  <%= @team.is_parent %>
</p>

<p>
  <strong>Active:</strong>
  <%= @team.active %>
</p>

<p>
  <strong>Parent team:</strong>
  <%= @team.parent_team_id %>
</p>

<p>
  <strong>Manager:</strong>
  <%= @team.manager_id %>
</p>

<h2>Team Members</h2>

<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Title</th>
      <th>Tier</th>
      <th>Email</th>
      <th>Slack</th>
      <th>Bio</th>
      <th>Is Manager?</th>
      <th>Active?</th>
      <th>Manager_id</th>
      <th>Started At</th>
      <th colspan="14"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.title %></td>
        <td><%= user.tier %></td>
        <td><%= user.email %></td>
        <td><%= user.slack %></td>
        <td><%= user.bio %></td>
        <td><%= user.is_manager %></td>
        <td><%= user.active %></td>
        <td><%= user.manager_id %></td>
        <td><%= user.started_at %></td>
        <td><%= link_to 'Show', team_user_path(@team, user) %></td>
        <td><%= link_to 'Edit Team Member', edit_team_user_path(@team, user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Home', root_path %>
<%= link_to 'Teams', teams_path %>
<%= link_to 'New User', new_team_user_path %>
