<p class="text-success text-center" id="notice"><%= notice %></p>
<% unless @user.manager_id.nil? %>
<% @manager = User.find(@user.manager_id) %>
<% end %>

<div class="container-fluid">
  <div class="card border-dark mb-3 mx-auto">
    <div class="card-header">
      <div class="row">
        <div class="col-6 text-left">
          <strong><%= @team.name %></strong>
        </div>
        <div class="col-6 text-right">
          <strong><%= @user.title %></strong>
        </div>
      </div>
    </div>
    <div class="card-body text-dark">
      <div class="col-md text-center">
        <% if @user.photo.nil? %>
          <%= image_tag("avatar", class: "img-fluid rounded-circle", style: "max-height: 300px; width: auto;") %>
        <% else %>
          <%= image_tag(@user.photo, class: "img-fluid rounded-circle", style: "max-height: 300px; width: auto;") %>
        <% end %>
      </div>
      <h5 class="card-title text-center pt-3 pb-0 mb-0"><%= @user.first_name + " " + @user.last_name %></h5>
      <p class="card-text text-muted text-center pt-0 mt-0 pb-0 mb-2">
        <small><%= "Since " + @user.started_at.strftime("%B %d, %Y") %></small>
      </p>
      <div class="row">
        <div class="col-sm-6">
          <div class="card" style="height: 100%;">
            <div class="card-header text-center">
              <strong>Info</strong>
            </div>
            <div class="card-body">
              <h5 class="card-title">Bio:<h5>
              <small class="card-text">"<%=  @user.bio %>"</small>
              <br><br>
              <small>
                <ul>
                  <% unless @manager.nil? %>
                  <li>
                    <strong>Reports To:</strong>
                    <%= link_to team_user_path(@team, @manager), :class => "no-deco" do %>
                    <%= @manager.last_name + ", " + @manager.first_name %>
                    <% end %>
                  </li>
                  <br>
                  <% end %>
                  <li>
                    <strong>Email:</strong>
                    <%= @user.email %>
                  </li>
                  <br>
                  <li>
                    <strong>Slack:</strong>
                    @<%= @user.slack %>
                  </li>
                </ul>
              </small>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card mb-2">
            <div class="card-header">
              <strong>Badges</strong>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="mx-auto">
                  <% if @user_badges.where(badge: 1).empty? %>
                  <%= image_tag("img_solveforthecustomer_grey", class: "img-fluid rounded-circle", style: "max-height: 100px; width: auto;") %>
                  <span class="float-right badge badge-pill badge-secondary">0</span>
                  <% else %>
                  <%= image_tag("img_solveforthecustomer", class: "img-fluid rounded-circle", style: "max-height: 100px; width: auto;") %>
                  <span class="float-right badge badge-pill badge-danger"><%= @user_badges.where(badge: 1).where(active: true).count %></span>
                  <% end %>
                </div>
                <div class="mx-auto">
                  <% if @user_badges.where(badge: 2).empty? %>
                  <%= image_tag("img-this-is-your-baby_grey", class: "img-fluid rounded-circle", style: "max-height: 100px; width: auto;") %>
                  <span class="float-right badge badge-pill badge-secondary">0</span>
                  <% else %>
                  <%= image_tag("img-this-is-your-baby", class: "img-fluid rounded-circle", style: "max-height: 100px; width: auto;") %>
                  <span class="float-right badge badge-pill badge-danger"><%= @user_badges.where(badge: 2).where(active: true).count %></span>
                  <% end %>
                </div>
                <div class="mx-auto">
                  <% if @user_badges.where(badge: 3).empty? %>
                  <%= image_tag("img_everyminutecounts_grey", class: "img-fluid rounded-circle", style: "max-height: 100px; width: auto;") %>
                  <span class="float-right badge badge-pill badge-secondary">0</span>
                  <% else %>
                  <%= image_tag("img_everyminutecounts", class: "img-fluid rounded-circle", style: "max-height: 100px; width: auto;") %>
                  <span class="float-right badge badge-pill badge-danger"><%= @user_badges.where(badge: 3).where(active: true).count %></span>
                  <% end %>
                </div>
                <div class="mx-auto">
                  <% if @user_badges.where(badge: 4).empty? %>
                  <%= image_tag("img-of-course-but-maybe_grey", class: "img-fluid rounded-circle", style: "max-height: 100px; width: auto;") %>
                  <span class="float-right badge badge-pill badge-secondary">0</span>
                  <% else %>
                  <%= image_tag("img-of-course-but-maybe", class: "img-fluid rounded-circle", style: "max-height: 100px; width: auto;") %>
                  <span class="float-right badge badge-pill badge-danger"><%= @user_badges.where(badge: 4).where(active: true).count %></span>
                  <% end %>
                </div>
                <div class="mx-auto">
                  <% if @user_badges.where(badge: 5).empty? %>
                  <%= image_tag("img_gofartogether_grey", class: "img-fluid rounded-circle", style: "max-height: 100px; width: auto;") %>
                  <span class="float-right badge badge-pill badge-secondary">0</span>
                  <% else %>
                  <%= image_tag("img_gofartogether", class: "img-fluid rounded-circle", style: "max-height: 100px; width: auto;") %>
                  <span class="float-right badge badge-pill badge-danger"><%= @user_badges.where(badge: 5).where(active: true).count %></span>
                  <% end %>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="mx-auto">
                  <%= link_to 'See All Badges', team_user_user_badges_path(@team, @user), :class => "btn btn-outline-primary" %>
                  <% unless @has_user_permission %>
                    <%= link_to 'Give A Badge!', new_team_user_user_badge_path(@team, @user), :class => "btn btn-primary" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <div class="card mt-2">
            <div class="card-header">
              <strong>Skills</strong>
            </div>
            <div class="card-body">
              <div class="row mx-2 mt-2 mb-2">
                <% @user_skills.each do |skill| %>
                <div class="badge badge-pill badge-primary mx-1 mt-1 mb-1">
                  <div class="row mx-auto">
                    <span class="mr-1"><%= skill.name %></span>
                    <% skill.level.times do %>
                    <%= image_tag("goldstar", class: "img-fluid", style: "max-height: 10px; width: auto;") %>
                    <% end %>
                    <% skill.white_stars.times do %>
                    <%= image_tag("whitestar", class: "img-fluid", style: "max-height: 10px; width: auto;") %>
                    <% end %>
                  </div>
                </div>
                <% end %>
              </div>
              <div class="row">
                <div class="mx-auto">
                  <%= link_to 'See All Skills', team_user_user_skills_path(@team, @user), :class => "btn btn-outline-primary btn-sm" %>
                  <% if @has_user_permission || @has_manager_permission %>
                    <%= link_to 'Add New Skill!', new_team_user_user_skill_path(@team, @user), :class => "btn btn-primary btn-sm" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col mt-3">
          <% if @has_user_permission || @has_manager_permission %>
            <%= link_to 'Edit', edit_team_user_path(@team, @user), :class => "btn btn-outline-secondary" %>
          <% end %>
          <%= link_to team_path(@team), :class => "btn btn-outline-primary" do %>
          Back To <%= @team.name %>
          <% end %>
        </div>
    </div>
    </div>
  </div>
</div>
