<p id="notice"><%= notice %></p>
<% unless @user.manager_id.nil? %>
<% @manager = User.find(@user.manager_id) %>
<% end %>

<div class="container">
  <div class="col align-self-center">
    <div class="card border-dark mb-3 mx-auto">
      <div class="card-header">
        <div class="row">
          <div class="col-6 text-left">
            <strong><%= @team.name %></strong>
          </div>
          <div class="col-6 text-right">
            <strong><%= @user.title %></strong>
          </div>
        </div>
      </div>
      <div class="card-body text-dark">
        <div class="col-md text-center">
          <%= image_tag("avatar", class: "img-fluid rounded-circle", style: "max-height: 300px; width: auto;") %>
        </div>
        <h5 class="card-title text-center pt-3 pb-0 mb-0"><%= @user.first_name + " " + @user.last_name %></h5>
        <p class="card-text text-muted text-center pt-0 mt-0 pb-0 mb-2">
          <small><%= "Since " + @user.started_at.strftime("%B %d, %Y") %></small>
        </p>
        <p class="card-text text-center pt-0 mt-0 mb-2">"<%=  @user.bio %>"</p>
        <div class="row">
          <div class="col-sm-6">
            <div class="card" style="height: 100%;">
              <div class="card-header text-center">
                <strong>Info</strong>
              </div>
              <div class="card-body">
                <h5 class="card-title">Contact:</h5>
                <ul>
                  <% unless @manager.nil? %>
                  <li>
                    <strong>Reports To:</strong>
                    <%= @manager.last_name + ", " + @manager.first_name %>
                  </li>
                  <% end %>
                  <li>
                    <strong>Email:</strong>
                    <%= @user.email %>
                  </li>
                  <li>
                    <strong>Slack:</strong>
                    <%= @user.slack %>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card mb-2">
              <div class="card-header">
                <strong>Badges</strong>
              </div>
              <div class="card-body">
                <h5 class="card-title">Badges would go here</h5>
                <p class="card-text">Badge icons with badge count, view all link redirecting to badge list</p>
              </div>
            </div>
            <div class="card mt-2">
              <div class="card-header">
                <strong>Skills</strong>
              </div>
              <div class="card-body">
                <h5 class="card-title">Skills would go here</h5>
                <p class="card-text">Skill tags would go here. Once skill tags exceed a certain number, a link to see all replaces last skill</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col mt-3">
            <%= link_to 'Edit', edit_team_user_path(@team, @user), :class => "btn btn-outline-secondary" %>
            <%= link_to 'Back', team_users_path, :class => "btn btn-outline-primary" %>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>
