<p id="notice"><%= notice %></p>
<% unless @user.manager_id.nil? %>
<% @manager = User.find(@user.manager_id) %>
<% end %>

<p>
  <strong>First Name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @user.title %>
</p>

<p>
  <strong>Tier:</strong>
  <%= @user.tier %>
</p>

<p>
  <strong>Team:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Slack:</strong>
  <%= @user.slack %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @user.bio %>
</p>

<p>
  <strong>Is Manager?</strong>
  <%= @user.is_manager %>
</p>

<p>
  <strong>Active?</strong>
  <%= @user.active %>
</p>

<% unless @manager.nil? %>
<p>
  <strong>Manager:</strong>
  <%= @manager.last_name + ", " + @manager.first_name %>
</p>
<% end %>

<p>
  <strong>Started At:</strong>
  <%= @user.started_at %>
</p>

<%= link_to 'Edit', edit_team_user_path(@team, @user) %> |
<%= link_to 'Back', team_users_path %>
