<div class="welcomeBody container-fluid">
  <div class="row">
    <div class="col-xs-3 col-sm-3 col-md-3"></div>
    <div class="mainContent col-xs-6 col-sm-6 col-md-6">
      <h1 class="tag name">Welcome to InstaNet</h1>
      <p class="tag location">"Get to know your fellow carrots"</p>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3"></div>
  </div>
</div>

<main class="flex container-fluid">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-4">
      <div class="card1 mx-auto">
      <h2 class="form-signin-heading">Instructions</h2>
      <button type="button" class="customBtn btn btn-info btn-lg" data-toggle="modal" data-target="#myModal1">
        To Add Teams
      </button>
      <div class="modal fade" id="myModal1" role="dialog">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Instructions To Add a Team</h4>
            </div>
            <div class="modal-body">
              <div>
                Step 1 - Log In: <br/>
                <%= image_tag("signIn", id: "signInImg1", class: "imgView") %>
                <br/>
                <br/>
                Step 2 - Create First Team: <br/>
                <%= image_tag("addTeamImg1", id: "addTeamImg1", class: "imgView") %>
                <br/>
                <br/>
                Step 3 - Create First User:<br/>
                <%= image_tag("signIn1", id: "signIn1", class: "imgView") %>
                <br/>
                <br/>
                Step 4 - Add Team from Team Page (Must be Manager):<br/>
                <%= image_tag("addTeamImg2", id: "addTeamImg2", class: "imgView") %>
                <br/>
                Or Add Team from Organization Page (Must be Manager):<br/>
                <%= image_tag("addTeamImg3", id: "addTeamImg3", class: "imgView") %>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <br>
      <button type="button" class="customBtn btn btn-info btn-lg" data-toggle="modal" data-target="#myModal2">
        To Add a Team member
      </button>
      <div class="modal fade" id="myModal2" role="dialog">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Instructions To Add a Team member</h4>
            </div>
            <div class="modal-body">
              <div>
                Step 1 - Log In As Manager: <br/>
                <%= image_tag("signIn", id: "signInImg1", class: "imgView") %>
                <br/>
                <br/>
                Step 2 - Go to Team Members Index:<br/>
                <%= image_tag("addTeamMember", id: "addTeamMember", class: "imgView") %>
                <br/>
                <br/>
                Step 3 - Select "New Team Member":<br/>
                <%= image_tag("addTeamMember1", id: "addTeamMember1", class: "imgView") %>
                <br/>
                <br/>
                Step 4 - Complete Form and Submit:<br/>
                <%= image_tag("addTeamMember2", id: "addTeamMember2", class: "imgView") %>
                <br/>
                <br/>
                or
                <br/>
                <br/>
                Step 2 - Go to Team Page:<br/>
                <%= image_tag("addTeamMember4", id: "addTeamMember4", class: "imgView") %>
                <br/>
                <br/>
                Step 3 - Select "New Team Member":<br/>
                <%= image_tag("addTeamMember3", id: "addTeamMember3", class: "imgView") %>
                <br/>
                <br/>
                Step 4 - Complete Form and Submit:<br/>
                <%= image_tag("addTeamMember2", id: "addTeamMember2", class: "imgView") %>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      </br>
      <button type="button" class="customBtn btn btn-info btn-lg" data-toggle="modal" data-target="#myModal3">
        To Search
      </button>
      <div class="modal fade" id="myModal3" role="dialog">
        <div class="modal-dialog modal-lg">
          <div class="modal-content ">
            <div class="modal-header">
              <h4 class="modal-title">Instructions To Browse Teams, Team Members, and Skills</h4>
            </div>
            <div class="modal-body">
              <div>
                Step 1 - Go to search page: <br/>
                <%= image_tag("search", id: "search", class: "imgView") %>
                <br/>
                <br/>
                Step 2 - Submit search: <br/>
                <%= image_tag("search1", id: "search1", class: "imgView") %>
                <br/>
                <br/>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="col-4">
      <div class="card2 mx-auto">
      <div class="card-body">
        <div class="row">
          <% if @current_user.nil? %>
          <h2>Welcome, Friend!</h2>
          <h4><i>Please log in to begin</i></h4>
          <% else %>
          <h2>Welcome back, <%= @current_user.first_name %></h2>
          <h4><i>You're looking marvelous today.</i></h4>
          <% end %>
        </div>
        <br>
        <div class="row d-flex flex-column">
          <% if @current_user.nil? %>
          <%= link_to 'Sign In', login_path, :class => "btn btn-lg btn-primary btn-block mt-auto" %>
          <% else %>
          <%= link_to 'Log Out', logout_path, :class => "btn btn-lg btn-danger btn-block mt-auto" %>
          <% end %>
        </div>
      </div>
    </div>
    </div>
    <div class="col-2"></div>
  </div>
</main>
