<div class="welcomeBody container-fluid">
  <div class="row">
    <div class="col-xs-3 col-sm-3 col-md-3"></div>
    <div class="mainContent col-xs-6 col-sm-6 col-md-6">
      <h1 class="tag name">Welcome to InstaNet</h1>
      <p class="tag location">"Get to know your fellow carrots"</p>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3"></div>
  </div>
</div>

<main class="flex container-fluid">
  <div class="row">
    <div class="col-xs-2 col-sm-2 col-md-2"></div>
    <div class="card1 col-xs-4 col-sm-4 col-md-4">
      <h2 class="form-signin-heading">Instructions</h2>
      <button type="button" class="customBtn btn btn-info btn-lg" data-toggle="modal" data-target="#myModal1">
        To Add a Team
      </button>
      <div class="modal fade" id="myModal1" role="dialog">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Instructions To Add a Team</h4>
            </div>
            <div class="modal-body">
              <div>
                Step 1: <br/>
                <%= image_tag("instaNetHome", id: "addTeamImg1", class: "imgView") %>
                <br/>
                Step 2:<br/>
                <%= image_tag("instaNetTeam1", id: "addTeamImg2", class: "imgView") %>
                <br/>
                Step 3:<br/>
                <%= image_tag("instaNetTeam2", id: "addTeamImg3", class: "imgView") %>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <br>
      <button type="button" class="customBtn btn btn-info btn-lg" data-toggle="modal" data-target="#myModal2">
        To Add a Team member
      </button>
      <div class="modal fade" id="myModal2" role="dialog">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Instructions To Add a Team member</h4>
            </div>
            <div class="modal-body">
              <div>
                Step 1: <br/>
                <%= image_tag("instaNetTeamMember1", id: "addTeamMemberImg1", class: "imgView") %>
                <br/>
                Step 2:<br/>
                <%= image_tag("instaNetTeamMember2", id: "addTeamMemberImg2", class: "imgView") %>
                <br/>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      </br>
      <button type="button" class="customBtn btn btn-info btn-lg" data-toggle="modal" data-target="#myModal3">
        To Browse - "Anything"
      </button>
      <div class="modal fade" id="myModal3" role="dialog">
        <div class="modal-dialog modal-lg">
          <div class="modal-content ">
            <div class="modal-header">
              <h4 class="modal-title">Instructions To Browse - "almost anything"</h4>
            </div>
            <div class="modal-body">
              <div>
                Step 1: <br/>
                <%= image_tag("instaNetSearch", id: "searchPageImg", class: "imgView") %>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card2 col-xs-4 col-sm-4 col-md-4">
      <div class="card-body">
        <div class="row">
          <% if @current_user.nil? %>
          <h2>Welcome, Friend!</h2>
          <h4><i>Please log in to begin</i></h4>
          <% else %>
          <h2>Welcome back, <%= @current_user.first_name %></h2>
          <h4><i>You're looking marvelous today.</i></h4>
          <% end %>
        </div>
        <br>
        <div class="row d-flex flex-column">
          <% if @current_user.nil? %>
          <%= link_to 'Sign In', login_path, :class => "btn btn-lg btn-primary btn-block mt-auto" %>
          <% else %>
          <%= link_to 'Log Out', logout_path, :class => "btn btn-lg btn-danger btn-block mt-auto" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2"></div>
  </div>
</main>
