<div class="welcomeBody container-fluid">
  <div class="row">
    <div class="col-3 d-flex align-items-center justify-content-start">
    </div>
    <div class="mainContent col-6">
      <h1 class="tag name">Team Members</h1>
      <p class="tag location">A full list of all carrots!</p>
    </div>
    <div class="col-3 d-flex align-items-center justify-content-end">
      <% if @has_manager_permission %>
      <%= link_to 'New Team Member', new_user_path, :class => "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
<p class="text-success text-center" id="notice"><%= notice %></p>
<div class="container-fluid">
  <div class="row">
    <% @users.each do |user| %>
    <% @team = Team.find(user.team_id) %>
    <div class="card mx-auto mt-2" style="min-width: 20rem;">
      <div class="card-body">
        <%= link_to team_user_path(@team, user) do %>
          <div class="row no-deco">
            <div class="col-8" style="max-width: 205px">
              <h5 class="card-title font-weight-bold text-dark"><%= user.first_name + " " + user.last_name %></h5>
              <h6 class="card-subtitle mb-2 text-muted"><%= @team.name %></h6>
              <small class="card-text text-dark"><%= user.started_at.strftime("%b %Y") %></small>
            </div>
            <div class="col-4">
              <% if user.photo.nil? %>
                <%= image_tag("avatar", class: "img-fluid rounded-circle", style: "max-height: 70px; width: auto;") %>
              <% else %>
                <%= image_tag(user.photo, class: "img-fluid rounded-circle", style: "max-height: 70px; width: auto;") %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>
