<p id="notice"><%= notice %></p>

<div class="container text-center font-weight-bold text-secondary">
  <h1 class="display-3">Team Members</h1>
  <br>
  <%= link_to 'New Team Member', new_user_path, :class => "btn btn-primary" %>
</div>
<br>

<div class="container-fluid">
  <div class="row">
    <% @users.each do |user| %>
    <% @team = Team.find(user.team_id) %>
    <div class="card mx-auto mt-2" style="min-width: 20rem;">
      <div class="card-body">
        <%= link_to team_user_path(@team, user) do %>
          <div class="row no-deco">
            <div class="col-8">
              <h5 class="card-title font-weight-bold text-dark"><%= user.first_name + " " + user.last_name %></h5>
              <h6 class="card-subtitle mb-2 text-muted"><%= @team.name %></h6>
              <small class="card-text text-dark"><%= user.started_at.strftime("%b %Y") %></small>
            </div>
            <div class="col-4">
              <%= image_tag("avatar", class: "img-fluid rounded-circle", style: "max-height: 100px; width: auto;") %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>

<!-- <table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Team</th>
      <th>Title</th>
      <th>Tier</th>
      <th>Email</th>
      <th>Slack</th>
      <th>Bio</th>
      <th>Is Manager?</th>
      <th>Active?</th>
      <th>Manager_id</th>
      <th>Started At</th>
      <th colspan="15"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
    <% @team = Team.find(user.team_id) %>
    <% unless user.manager_id.nil? %>
      <% @manager = User.find(user.manager_id) %>
    <% end %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= @team.name %></td>
        <td><%= user.title %></td>
        <td><%= user.tier %></td>
        <td><%= user.email %></td>
        <td><%= user.slack %></td>
        <td><%= user.bio %></td>
        <td><%= user.is_manager %></td>
        <td><%= user.active %></td>
        <% if @manager.nil? %>
        <td></td>
        <% else %>
        <td><%= @manager.last_name + ", " + @manager.first_name %></td>
        <% end %>
        <td><%= user.started_at %></td>
        <td><%= link_to 'Show', team_user_path(@team, user) %></td>
        <td><%= link_to 'Edit', edit_team_user_path(@team, user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Home', root_path %>
<%= link_to 'Teams', teams_path %> -->
