<!DOCTYPE html>
<html>
  <head>
    <title>InstaNet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path('instanet.png'), :rel => 'icon', :type => "image/instanet" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-custom">
    <div class="container-fluid bg-dark pt-3 pb-3">
      <div class="row">
        <div class="col-9">
          <%= image_tag("instanet", id: "logo") %>
          <h1 class="align-top text-light">InstaNet</h1>
        </div>
        <div class="col-3 d-flex align-items-center">
            <%= link_to 'Home', root_path, :class => "nav-link text-light mx-auto" %>
            <%= link_to 'Teams', teams_path, :class => "nav-link text-light  mx-auto" %>
            <%= link_to 'Users', users_path, :class => "nav-link text-light mx-auto" %>
        </div>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
