<!DOCTYPE html>
<html>
  <head>
    <title>InstaNet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path('instanet.png'), :rel => 'icon', :type => "image/instanet" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-custom">
    <div class="container-fluid bg-dark pt-3 pb-3">
      <div class="row">
        <div class="col-12">
          <%= image_tag("instanetinvert", id: "logo") %>
          <h1 class="align-top text-light">InstaNet</h1>
          <ul class="nav align-items-center justify-content-end" style="height: 100%">
            <li class="nav-item">
              <%= link_to 'Home', root_path, :class => "nav-link text-light mx-auto" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Teams', teams_path, :class => "nav-link text-light mx-auto" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Team Members', users_path, :class => "nav-link text-light mx-auto" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Search', searches_path, :class => "nav-link text-light mx-auto" %>
            </li>
          </ul>
        </div>
      </div>

      <div class="row text-light">
        <% unless @current_user.nil? %>
        Email: <%= @current_user.email %>
        Has Manager Permission: <%= @has_manager_permission %>
        Has User Permission: <%= @has_user_permission %>
        Has Permission: <%= @has_manager_permission || (@has_manager_permission && @has_user_permission) %>
        <% end %>
      </div>

    </div>
    <%= yield %>
    <%= render "layouts/footer" %>
  </body>
</html>
