<!DOCTYPE html>
<html>
  <head>
    <title>InstaNet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path('instanet.png'), :rel => 'icon', :type => "image/instanet" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrap">
      <%= image_tag("instanet", id: "logo") %>
      <h1>Instanet</h1>
        <ul>
          <li class="menu">
            <%= link_to 'Home', root_path %>
          </li>

          <li class="menu">
            <%= link_to 'Teams', teams_path %>
          </li>

          <li class="menu">
            <%= link_to 'Users', users_path %>
          </li>
        </ul>
      </div>
    <br>
    <%= yield %>
  </body>
</html>
