<!DOCTYPE html>
<html>
  <head>
    <title>InstaNet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path('instanet.png'), :rel => 'icon', :type => "image/instanet" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container bg-light">
      <div class="row">
        <div class="col-8">
          <%= image_tag("instanet", id: "logo") %>
          <h1 class="align-top">Instanet</h1>
        </div>
        <div class="col-4 d-flex align-items-center">
            <%= link_to 'Home', root_path, :class => "btn btn-primary mx-1" %>
            <%= link_to 'Teams', teams_path, :class => "btn btn-primary mx-1" %>
            <%= link_to 'Users', users_path, :class => "btn btn-primary mx-1" %>
        </div>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
